body{
	background: #f2f5f7;
}
header{
	width: 1300px;
	height: 100px;
	margin: 0 auto;
	padding-top: 30px;
	/*background-color: pink;
*/}
*{
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
}
a{
	text-decoration:none;
}
.logo{
	float: left;
	width: 195px;
	height: 42px;
	background:url(../images/logo.png) no-repeat;
}
.logo a{
	display:block;          /*行元素给高是没用的一定要转换成block*/
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-indent: -99px;
	overflow: hidden;
	
}
.nav{
	float: left;
	/*width: 300px;*/
}
.nav ul li{
	height: 42px;
	line-height: 42px;
	list-style: none;
	float: left;
	margin-left: 20px;
}
.nav a{
	display: block;

	font-size: 18px;
	height: 42px;
	line-height: 42px;
	color: #050505;
	font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
	padding: 0 10px;
}
.nav a:hover{
	color: #f10413;
	border-bottom: 2px solid #00a1ff;
}
.headright{
	float: right;
}
.search{
	height: 40px;
	width: 400px;
	float: left;
}
.search input{
	border: 1px solid #00a4ff;
	height: 40px;
	width:350px;
	font-size: 12px;
	float: left;
	box-shadow: none;
	text-indent: 10px;
}
.search button{
	border: 0;
	height: 40px;
	width: 50px;
	float: left;
}
.search button img{
	height: 100%;
	width: 100%;
}
.person{
	height: 40px;
	float: left;
	line-height: 40px;
}
.person a{
	color: #666;
	font-size:12px;
}
.person a:hover,.person  ul li[class^=s] a:hover{
	color: #0ee;
}
.person li{
	list-style: none;
	float: left;
	margin-left: 30px;
}
.person li:nth-child(2){
	position: relative;
	top: 5px;
	display: inline-block;
	width: 14px;
	height: 16px;
}
.person span{
	display: block;
	position: absolute;
	top: 7px;
	right: -7px;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background: red;
}
 .person  ul li[class^=s] a{
	color: orange;
}
.person  ul li[class^=s] a:before{
	content: "";
	display: inline-block;
	width: 33px;
	height: 33px;
	vertical-align: middle;
	border-radius: 50%;
	background: url(../images/pic.png) no-repeat center;
	transition: all 1s;
	
}
.person  ul li[class^=s]:hover a:before{
	transform: rotate(360deg);
}
}